.sidebar-brand {
    font-size: 1.25rem;
    font-weight: 600;
    font-family: "Bitter";
    color: black;
    margin-top: 100px;
}

.sidebar-brand:hover, .sidebar-brand:focus {
    text-decoration: none;
}

.title:link {
    color: black;
}

.title:visited {
    color: black;
}

.title:hover {
    background: #CDFEAA;
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0rem;
    margin-bottom: 0.2rem;
    font-family: "Bitter";
}

.title {
    font-size: 1.1rem;
    font-weight: 500;
    outline: none;
    text-decoration: none;
}

body {
    font-size: 1rem;
}

img {
    object-fit: cover;
    width: 5.3rem;
    height: 5.3rem;
}

.wrapper {
    display: flex;
    width: 100%;
}

#sidebar {
    width: 10rem;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    transition: all 0.3s;
    margin-left: 1rem;
    margin-top: 1rem;
}

#sidebar.active {
    margin-left: -10rem;
}

#sidebarCollapse {
    width: 40px;
    height: 40px;
    background: white;
}

#sidebarCollapse span {
    width: 80%;
    height: 2px;
    margin: 0 auto;
    display: block;
    background: black;
    transition: all 0.3s cubic-bezier(0.810, -0.330, 0.345, 1.375);
}

#sidebarCollapse span:first-of-type {
    transform: rotate(45deg) translate(2px, 2px);
}

#sidebarCollapse span:nth-of-type(2) {
    opacity: 0;
}

#sidebarCollapse span:last-of-type {
    transform: rotate(-45deg) translate(1px, -1px);
}

#sidebarCollapse.active span {
    transform: none;
    opacity: 1;
    margin: 5px auto;
}

#content {
    width: calc(100% - 10rem);
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    left: 10rem;
}

#content.active {
    width: 100%;
}

@media (min-width: 768px) {
    .sidebar-button {
        display: none;
    }
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -10rem;
        transform: rotateY(90deg);
    }
    #sidebar.active {
        margin-left: 0;
        transform: none;
    }
    #content {
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }
    #content.active {
        width: calc(100% - 10rem);
        position: absolute;
        top: 0;
        left: 10rem;
    }
    #sidebarCollapse span:first-of-type, #sidebarCollapse span:nth-of-type(2), #sidebarCollapse span:last-of-type {
        transform: none;
        opacity: 1;
        margin: 5px auto;
    }
    #sidebarCollapse.active span {
        margin: 0 auto;
    }
    #sidebarCollapse.active span:first-of-type {
        transform: rotate(45deg) translate(2px, 2px);
    }
    #sidebarCollapse.active span:nth-of-type(2) {
        opacity: 0;
    }
    #sidebarCollapse.active span:last-of-type {
        transform: rotate(-45deg) translate(1px, -1px);
    }
}