{% extends "base.html" %}
{% load static %}

{% block scripts %}
<script src="{% static 'feed/favorite.js' %}"></script>
{% endblock %}

{% block content %}
<div class="container-fluid" role="main" id="content">
    {% if messages %}
    {% for message in messages %}
    <div class="container-fluid mt-2 mb-0 alert alert-{{ message.tags }}" role="alert">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endfor %}
    {% endif %}

    {% include 'title-bar.html' %}

    {% for row in page_obj %}
    <div class="row">
        {% for article in row %}
        <div class="col-md-6 mt-2">
            <div class="media">
                <div class="media-body">
                    <h5 class=""><a class="title" href="{{ article.url }}">{{ article.title }}</a></h5>
                    <small class="text-muted">{{ article.pub_date }} • </small>
                    {% if article.favorited %}
                    <button class="small text-muted favorite button-link" type="button" data="{{article.id}}">
                        unfavorite
                    </button>
                    {% else %}
                    <button class="small text-muted favorite button-link" type="button" data="{{article.id}}">
                        favorite
                    </button>
                    {% endif %}
                </div>
                {% if article.url_to_image != None %}
                <a href="{{ article.url }}"><img class="rounded mt-1 ml-2"
                        src="{{ article.url_to_image }}"></a>
                {% endif %}

            </div>
        </div>
        {% endfor %}
    </div>
    {% endfor %}
    <nav aria-label="pagination">
        <ul class="pagination justify-content-center mt-4">
            {% if page_obj.number|add:'-3' > 0 %}
                <li class="page-item"><a class="page-link" href="?page=1">
                    1
                </a></li>
            {% endif %}

            {% if page_obj.number == 5 %}
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.number|add:'-3' }}">2</a></li>
            {% elif page_obj.number|add:'-3' > 0 and page_obj.number != 4 %}
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.number|add:'-3' }}">&hellip;</a></li>
            {% endif %}

            {% for num in page_obj.paginator.page_range %}
                {% if page_obj.number == num %}
                    <li class="page-item active"><a class="page-link" href="?page={{ num }}" aria-current="page">
                        page {{ page_obj.number }}
                    </a></li>
                {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                    <li class="page-item"><a class="page-link" href="?page={{ num }}">
                        <span class="visuallyhidden">page </span>{{ num }}
                    </a></li>
                {% endif %}
            {% endfor %}

            {% if page_obj.number|add:'4' == page_obj.paginator.num_pages %}
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.number|add:'3' }}">{{ page_obj.number|add:'3' }}</a></li>
            {% elif page_obj.number|add:'2' < page_obj.paginator.num_pages and page_obj.number|add:'3' != page_obj.paginator.num_pages%}
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.number|add:'3' }}">&hellip;</a></li>
            {% endif %}

            {% if page_obj.number|add:'2' < page_obj.paginator.num_pages %}
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">
                        {{ page_obj.paginator.num_pages }}
                </a></li>
            {% endif %}
        </ul>
    </nav>
</div>
{% endblock %}