{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container-fluid" role="main" id="content">
    {% if messages %}
    {% for message in messages %}
    <div class="container-fluid mt-2 mb-0 alert alert-{{ message.tags }}" role="alert">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endfor %}
    {% endif %}

    {% include 'title-bar.html' %}

    {% for row in articles %}
    <div class="row">
        {% for article in row %}
        <div class="col-md-6 mt-2">
            <div class="media">
                <div class="media-body">
                    <h5 class=""><a class="title" href="{{ article.url }}">{{ article.title }}</a></h5>
                    <small class="text-muted">{{ article.pub_date }} • </small>
                    {% if article.favorited %}
                    <button id="favorite" class="small text-muted" type="button" data="{{article.id}}">
                        unfavorite
                    </button>
                    {% else %}
                    <button id="favorite" class="small text-muted" type="button" data="{{article.id}}">
                        favorite
                    </button>
                    {% endif %}
                </div>
                {% if article.url_to_image != None %}
                <a href="{{ article.url }}"><img class="rounded mt-1 ml-2"
                        src="{{ article.url_to_image }}"></a>
                {% endif %}

            </div>
        </div>
        {% endfor %}
    </div>
    {% endfor %}
</div>
{% endblock %}