{% extends "base.html" %}
{% load static %}

{% block title %}
<title>NewsFeed - Favorites</title>
{% endblock %}

{% block css %}
<link href="{% static 'users/custom.css' %}" rel="stylesheet">
{% endblock %}

{% block scripts %}
<script src="{% static 'users/favorite.js' %}"></script>
{% endblock %}

{% block content %}
<div class="container-fluid" role="main" id="content">
    {% include 'title-bar.html' %}
    {% for article in articles %}
    <div class="row mt-1 mb-1 {% if forloop.counter|divisibleby:2 %}bg-light{% endif %}">
        <div class="col col-lg-10">
            <a class="fav-title" href="{{ article.url }}">{{ article.title }}<a>
        </div>
        <div class="col-auto">
            <button class="favorite btn btn-sm btn-danger" type="button" data="{{article.id}}">
                unfavorite
            </button>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}