{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
<title>NewsFeed - Favorites</title>
{% endblock %}

{% block css %}
{% endblock %}

{% block content %}
<div class="container-fluid" role="main" id="content">
    <h4 class="mt-3 mb-1"> {{ title }} </h4>
    {% for article in articles %}
    <div class="row">
        <div class="col-md-8 mt-2">
            <div class="media">
                <div class="media-body align-items-start">
                    <h5 class=""><a class="title" href="{{ article.url }}">{{ article.title }}</a></h5>
                    {% if article.description != None %}
                    <!-- <div>{{ article.description }}</div> -->
                    {% endif %}
                    <small class="text-muted">{{ article.source }} • </small>
                    <small class="text-muted">{{ article.pub_date }}</small>
                </div>
                {% if article.url_to_image != None %}
                <a href="{{ article.url }}"><img class="rounded ml-2 float-right" src="{{ article.url_to_image }}"></a>
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}