{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
<title>NewsFeed - Favorites</title>
{% endblock %}

{% block scripts %}
<script src="{% static 'users/favorite.js' %}"></script>
{% endblock %}

{% block content %}
<div class="container-fluid" role="main" id="content">
    {% include 'title-bar.html' %}
    {% for article in articles %}
    <div class="row">
        <div class="col">
            <p><a class="" href="{{ article.url }}">{{ article.title }}</a></p>
        </div>
        <div class="col">
            <button class="favorite btn btn-danger" type="button" data="{{article.id}}">
                unfavorite
            </button>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}