{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
<title>NewsFeed - Sign up</title>
{% endblock %}

{% block css %}
    <link href="{% static 'users/custom.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<form class="form-signin" method="POST">
    {% csrf_token %}
    <h3 class="text-center mb-3">Make an account</h3>
    <fieldset class="form-group">
        {{ form|crispy }}
    </fieldset>
    <div class="form-group">
        <button class="btn btn-lg btn-outline-primary float-right" type="submit">Sign up</button>
    </div>

    <p class="text-muted pt-4">
        Already have an account? <a class="ml-1" href="{% url 'users:login' %}">Log in</a>
    </p>

</form>
{% endblock %}