{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    {% block title %} {% endblock %}
    <!-- Google Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bitter">
    <!-- Bootstrap core CSS -->
    <link href="{% static 'feed/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Priority nav -->
    <link rel="stylesheet" href="{% static 'feed/priority-nav-core.css' %}">
    <!-- Custom CSS -->
    <link href="{% static 'feed/custom.css' %}" rel="stylesheet">
    {% block css %} {% endblock %}
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-white sticky-top">
        <div class="container border-bottom border-gray">
            <a class="navbar-brand" href="{% url 'feed:all' %}">NewsFeed</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item {% if category == '' %}active{% endif %}">
                        <a class="nav-link" href="{% url 'feed:all' %}">All
                            {% if category == '' %}
                            <span class="sr-only">(current)</span>
                            {% endif %}
                        </a>
                    </li>
                    <li class="nav-item {% if category == 'general' %}active{% endif %}">
                        <a class="nav-link" href="{% url 'feed:category' 'general' %}">General
                            {% if category == 'general' %}
                            <span class="sr-only">(current)</span>
                            {% endif %}
                        </a>
                    </li>
                    <li class="nav-item {% if category == 'entertainment' %}active{% endif %}">
                        <a class="nav-link" href="{% url 'feed:category' 'entertainment' %}">Entertainment
                            {% if category == 'entertainment' %}
                            <span class="sr-only">(current)</span>
                            {% endif %}
                        </a>
                    </li>
                    <li class="nav-item {% if category == 'business' %}active{% endif %}">
                        <a class="nav-link" href="{% url 'feed:category' 'business' %}">Business
                            {% if category == 'business' %}
                            <span class="sr-only">(current)</span>
                            {% endif %}
                        </a>
                    </li>
                    <li class="nav-item {% if category == 'health' %}active{% endif %}">
                        <a class="nav-link" href="{% url 'feed:category' 'health' %}">Health
                            {% if category == 'health' %}
                            <span class="sr-only">(current)</span>
                            {% endif %}
                        </a>
                    </li>
                    <li class="nav-item {% if category == 'science' %}active{% endif %}">
                        <a class="nav-link" href="{% url 'feed:category' 'science' %}">Science
                            {% if category == 'science' %}
                            <span class="sr-only">(current)</span>
                            {% endif %}
                        </a>
                    </li>
                    <li class="nav-item {% if category == 'technology' %}active{% endif %}">
                        <a class="nav-link" href="{% url 'feed:category' 'technology' %}">Technology
                            {% if category == 'technology' %}
                            <span class="sr-only">(current)</span>
                            {% endif %}
                        </a>
                    </li>
                    <li class="nav-item {% if category == 'sports' %}active{% endif %}">
                        <a class="nav-link" href="{% url 'feed:category' 'sports' %}">Sports
                            {% if category == 'sports' %}
                            <span class="sr-only">(current)</span>
                            {% endif %}
                        </a>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    {% if request.user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'favorites' %}">Favorites</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">Log out</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" >{{ request.user.username }}</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'register' %}">Sign up</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Log in</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    {% if messages %}
    {% for message in messages %}
    <div class="container mt-2 mb-0 alert alert-{{ message.tags }}">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endfor %}
    {% endif %}
    <!-- Page Content -->
    {% block content %}{% endblock %}

    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'feed/jquery/jquery.slim.min.js' %}"></script>
    <script src="{% static 'feed/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Priority nav JavaScript -->
    <script async src="{% static 'feed/priority-nav.js' %}"></script>

    <script>
        var nav = priorityNav.init();
    </script>

</body>

</html>