{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    {% block title %} {% endblock %}
    <!-- Google Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bitter">
    <!-- Bootstrap core CSS -->
    <link href="{% static 'feed/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="{% static 'feed/custom.css' %}" rel="stylesheet">
    <!-- Scrollbar Custom CSS -->
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">
    {% block css %} {% endblock %}
</head>

<body>
    <div class="wrapper">
        <!-- Sidebar -->
        <nav class="navbar-light mt-3 ml-3" id="sidebar">
            <a class="sidebar-brand" href="{% url 'feed:all' %}">NewsFeed</a>
            <ul class="navbar-nav">
                <li class="nav-item {% if category == '' %}active{% endif %}">
                    <a class="nav-link" href="{% url 'feed:all' %}">All
                        {% if category == '' %}
                        <span class="sr-only">(current)</span>
                        {% endif %}
                    </a>
                </li>
                <li class="nav-item {% if category == 'general' %}active{% endif %}">
                    <a class="nav-link" href="{% url 'feed:category' 'general' %}">General
                        {% if category == 'general' %}
                        <span class="sr-only">(current)</span>
                        {% endif %}
                    </a>
                </li>
                <li class="nav-item {% if category == 'entertainment' %}active{% endif %}">
                    <a class="nav-link" href="{% url 'feed:category' 'entertainment' %}">Entertainment
                        {% if category == 'entertainment' %}
                        <span class="sr-only">(current)</span>
                        {% endif %}
                    </a>
                </li>
                <li class="nav-item {% if category == 'business' %}active{% endif %}">
                    <a class="nav-link" href="{% url 'feed:category' 'business' %}">Business
                        {% if category == 'business' %}
                        <span class="sr-only">(current)</span>
                        {% endif %}
                    </a>
                </li>
                <li class="nav-item {% if category == 'health' %}active{% endif %}">
                    <a class="nav-link" href="{% url 'feed:category' 'health' %}">Health
                        {% if category == 'health' %}
                        <span class="sr-only">(current)</span>
                        {% endif %}
                    </a>
                </li>
                <li class="nav-item {% if category == 'science' %}active{% endif %}">
                    <a class="nav-link" href="{% url 'feed:category' 'science' %}">Science
                        {% if category == 'science' %}
                        <span class="sr-only">(current)</span>
                        {% endif %}
                    </a>
                </li>
                <li class="nav-item {% if category == 'technology' %}active{% endif %}">
                    <a class="nav-link" href="{% url 'feed:category' 'technology' %}">Technology
                        {% if category == 'technology' %}
                        <span class="sr-only">(current)</span>
                        {% endif %}
                    </a>
                </li>
                <li class="nav-item {% if category == 'sports' %}active{% endif %}">
                    <a class="nav-link" href="{% url 'feed:category' 'sports' %}">Sports
                        {% if category == 'sports' %}
                        <span class="sr-only">(current)</span>
                        {% endif %}
                    </a>
                </li>
                <div class="dropdown-divider"></div>
                {% if request.user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'favorites' %}">Favorites</a>
                </li>
                <div class="dropdown-divider"></div>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}">Log out</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link"">{{ request.user.username }}</a>
                                        </li>
                                        {% else %}
                                        <li class=" nav-item">
                        <a class="nav-link" href="{% url 'register' %}">Sign up</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">Log in</a>
                </li>
                {% endif %}
            </ul>

        </nav>

        {% if messages %}
        {% for message in messages %}
        <div class="container mt-2 mb-0 alert alert-{{ message.tags }}">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endfor %}
        {% endif %}


        <!-- Page Content -->
        {% block content %}{% endblock %}
    </div>

        <!-- Bootstrap core JavaScript -->
        <script src="{% static 'feed/jquery/jquery.slim.min.js' %}"></script>
        <script src="{% static 'feed/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

        <!-- jQuery Custom Scroller CDN -->
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>

        <script type="text/javascript">
            $(document).ready(function () {
                    $('#sidebarCollapse').on('click', function () {
                        $('#sidebar').toggleClass('active');
                        $('#content').toggleClass('active');
                        $(this).toggleClass('active');
                    });
                });
        </script>


</body>

</html>